<link rel="stylesheet" href="/static/css/contact.css">
{% extends "temp/base.html" %}
{% block content %}
<title>Contact</title>
  <div class="container">
    <div class="contact">
      <h2>Contact</h2>
      <p> โทรศัพท์: 0-5394-3412-16</p>
      <p> ธุรการ: กด 0 หรือ 101</p>
      <p> หลักสูตรปริญญาตรี: กด 103</p>
      <p> หลักสูตรปริญญาโท-เอก: กด 105</p>
      <p> โทรสาร: 0-5389-2281</p>
      <p> Email : Compsci@cmu.ac.th </p>
    </div>
    <div class="address">
      <h2> Address</h2>
      <p> ภาควิชาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์</p>
      <p> 239 ถ.ห้วยแก้ว ต.สุเทพ อ.เมืองเชียงใหม่ จ.เชียงใหม่ 50200</p>
    </div>
    <div class="social">
      <h2> Social </h2>
      <a href="https://www.facebook.com/compscicmu/?locale=th_TH"><i class="fa fa-facebook-square"> </i></a>
      <a href="https://www.youtube.com/@computersciencecmu12"><i class="fa fa-youtube-play"> </i></a>
    </div>

    <div class="location">
      <h2>Location </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15817.058496743077!2d98.96845937858626!3d18.79622607328094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sComputer%20Science%20Research%2C%20Faculty%20of%20Science%2C%20Chiang%20Mai%20University!5e0!3m2!1sen!2sth!4v1701891640263!5m2!1sen!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</footer>

{% endblock %}
