{% extends "temp/base.html" %}
{% block content %}
<title>Home</title>

<link rel="stylesheet" href="/static/css/homepage.css">
<section class="home">
  <div class="home-content me-auto">
    <h1> Research of Computer Science</h1>
    <p> ภาควิชาวิทยาการคอมพิวเตอร์จะเป็นผู้นำในด้านวิทยาการคอมพิวเตอร์ และเทคโนโลยีสารสนเทศระดับภูมิภาค ประเทศ และนานาชาติ ควบคู่ไปกับการพัฒนาคุณภาพบัณฑิตและงานวิจัยที่มีคุณภาพ</p>

    <button onclick="window.location.href='/login'">Sign in</button>
  </div>
  
  <div id="carouselExampleControls" class="carousel slide ms-auto" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/cs6.jpg" class="d-block w-75 mx-auto" alt="Research Image 1">
      </div>
      <div class="carousel-item">
        <img src="static/img/cs5.jpg" class="d-block w-75 mx-auto" alt="Research Image 2">
      </div>
      <div class="carousel-item">
        <img src="static/img/cs4.jpg" class="d-block w-75 mx-auto" alt="Research Image 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>
{% endblock %}
